<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shorcut icon" href="../static/imagen/icono.PNG">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/04f66e3763.js" crossorigin="anonymous"></script>
    {% block customCSS %}
    {% endblock %}
</head>
<body>
    {% block body %}

    {% block customJS %}
    {% endblock %}

    {% endblock %}


</body>
<footer>

    <p class="footer_texto1" style="margin-top: 40px;">Si tenes dudas te puedes <a href="">Contactar con el soporte del sitio</a> y <br> resolveremos tus dudas de forma inmediata </p>
    <div style="margin-top: 40px;">
        <p class="footer_texto3">© Fio UNaM 2024</p>
        <p class="footer_texto4">Diseñado & Desarrollado por <a href="">Aspe</a> | <a href="">Wlodeck</a> | <a href="">Zdanovicz</a></p>
    </div>
    
</footer>
</html>