{% extends './base.html' %}

{% block title %} PreciosNet {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/productos.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}

{% block body %}

<main >
    
    <div style="display: flex;justify-content: space-between;margin: 0 20px 0 30px">
        <h2 style="opacity: 0%;padding-left: 20px;">-</h2>
        <h2 class="titulo-registro" style=" display: inline-flex;">MENU PRINCIPAL</h2>
        <div style="margin-top: 25px;  padding-right: 20px;">
            <a class="cerrarsesion" href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
    </div>
    
    <h3 style="text-align: center;">Bienvenido, {{current_user.usuario}} </h3>
        
  
    <hr>
    <article class="seleccion">
        
        <section class="seleccion_hijo" style="margin-top: 30px;">
            <a class="seleccion_hijo_hijo" style="color: black;" href="./verproductos">
                <h4><i class="fa-solid fa-basket-shopping iconoshome"></i>
                    <div style="margin-left: 70px;">Productos Recientes</div>
                </h4>
            </a>
        </section >
        
        <section class="seleccion_hijo" > 
            <a class="seleccion_hijo_hijo" style="color: black;" href="./comercios">
                <h4><i class="fa-solid fa-shop iconoshome"></i>
                    <div style="margin-left: 70px; ">Gestionar Comercios</div>
                </h4>
            </a>
        </section>
        <section class="seleccion_hijo">
            <a class="seleccion_hijo_hijo" style="color: black;" href="">
                <h4><i class="fa-solid fa-chart-pie iconoshome"></i>
                    <div style="margin-left: 70px;">Estadisticas Generadas</div>
                </h4>
            </a>
        </section>
        <section class="seleccion_hijo" >
            <a class="seleccion_hijo_hijo" style="color: black;" href="">
                <h4><i class="fa-solid fa-hand-holding-dollar iconoshome"></i>
                    <div style="margin-left: 70px;">
                        Gestionar Recompensas</div>
                </h4>
            </a>
                
        </section>
    </article>
    
    
</main>
<div class="agregar_producto" >
        
    <div><a href="./productos"><button type="button" class="iconoagregarboton" 
    style=" padding: 10px 55px; font-size: 65px; font-weight: 700;  font-family: 'Quicksand', sans-serif;">
        +</button>
        </a>
        <h4>Nuevo Censo</h4>
    </div>
    
 </div>

{% block customJS %}
<script src="{{ url_for('static', filename='js/productos.js') }}"></script> 
{% endblock %}


{% endblock %}