{% extends './base.html' %}

{% block title %} Home {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">

{% endblock %}

{% block body %}

<main>
    <section class="formularioRegistro">
        <h2 class="titulo-registro">REGISTRO</h2>
        <hr>

        <form action="{{ url_for('registro') }}" method="POST" enctype="application/x-www-form-urlencoded" class="formulario-de-registro" onsubmit="return validacion();">
            
            {% with messages = get_flashed_messages() %}
        
            {% if messages %}
            <br>
            {% for message in messages %}
            <div class="mensaje" style="top: 90px;">
                <strong>⚠️{{ message }}</strong>
            </div>
            {% endfor %}
            {% endif %}
    
            {% endwith %}

            <div class="iconoRegistroContenedor">
                <img src="{{ url_for('static', filename='imagen/iconoRegistro.png') }}" alt="" class="iconoRegistro">
            </div>
           
            <div class="input-container">
                <i class="fa-solid fa-envelope" style="top:25px"></i>
                <input type="email" name="correo" id="correo" placeholder="Ingrese su correo">
            </div>
            <label id="mensaje-correo"></label>

            <div class="input-container">
                <i class="fa-solid fa-user" style="top:25px"></i>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre de usuario">   
            </div>
            <label id="mensaje-nombre"></label>

            <div class="input-container">
                <i class="fa-solid fa-lock" style="top:25px"></i>
                <input type="password" name="password" id="password" placeholder="Ingrese su contraseña">  
            </div>
            <label id="mensaje-contraseña"></label>

            <div class="input-container">
                <i class="fa-solid fa-lock" style="top:25px"></i>
                <input type="password" name="password" id="confirmPassword" placeholder="Ingrese su contraseña nuevamente"> 
            </div>
            <label id="mensaje-confirmContraseña"></label>

           <div class="input-container">
            <i class="fa-solid fa-bars-progress" style="top:25px"></i>
            <select id="rol" name="rol">
                <option value="">Seleccione un Rol</option>
                <option value="censista">Censista</option>
                <option value="comercio">Comercio</option>
            </select>
           </div>
           <label id="mensaje-seleccion"></label>

            <div style="font-size: 13px; font-weight: bold;">
            <input type="checkbox" name="terminos" id="terminos">
            <label for="terminos">Acepto los terminos y condiciones de uso</label>
            </div>
            <label id="mensaje-terminos"></label>

            <input id="submitRegistro" name="submit" type="submit" value="Registrarse"> 
            
        </form>
    </section>
</main>

<footer>

    <p class="footer_texto1" style="margin-top: 40px;">Si tenes dudas te puedes <a href="">Contactar con el soporte del sitio</a> y <br> resolveremos tus dudas de forma inmediata </p>
    <div style="margin-top: 40px;">
        <p class="footer_texto3">© Fio UNaM 2024</p>
        <p class="footer_texto4">Diseñado & Desarrollado por <a href="">Aspe</a> | <a href="">Wlodeck</a> | <a href="">Zdanovicz</a></p>
    </div>
    
</footer>

{% block customJS %}
<script src="{{ url_for('static', filename='js/registro.js') }}"></script> 
{% endblock %}


{% endblock %}